<div id="page-wrapper" style="background-color:black; color:#1E88E5">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">SERVER LIST</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-xs-6 col-md-5 col-md-4 col-lg-3">
            <div class="well" style="background-color:black; color:#1E88E5">Account Points: <B>{{ @me->saldo }}</B></div>
        </div>
    </div>
    <div class="row">
        <check if="{{ @message }}">
            <div class="col-lg-12" style="background-color:black;">
                <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
            </div>
        </check>
        <repeat group="{{ @servers}}" value="{{ @server }}">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"  style="background-color:#494949; color:#BFBFBF">
                        <b>{{ @server->servername }}</b> {{ @server->active==1?'':'( Locked )'}}
                    </div>
                    <table class="table"  style="background-color:black;">
                        <tr>
                            <td style="color:#BFBFBF"><b>Location:</b></td><td>{{ @server->country }}</td>
                        </tr>
                        <tr>
                            <td style="color:#BFBFBF"><b>Host:</b></td><td>{{ @server->host }}</td>
                        </tr>
			<tr>
                            <td style="color:#BFBFBF"><b>Port Squid:</b></td><td>14344, 8080</td>
                        </tr>
			<tr>
                            <td style="color:#BFBFBF"><b>Protocol:</b></td><td>TCP/UDP</td>
                        </tr>
			<tr>
                            <td style="color:#BFBFBF"><b>Active Days:</b></td><td>1000 Years</td>
                        </tr>

                        <tr>
                            <td style="color:#BFBFBF"><b>Points:</b></td><td>{{ @server->price }}</td>
                        </tr>
                    </table>
                    <div class="panel-footer text-center"  style="background-color:black;">
                        <a href="{{ @URI.'/'.@server->id }}" class="btn btn-primary"><i class="fa fa-user fa-fw"></i>Create</a>
                    </div>
                </div>
            </div>
        </repeat>
    </div>
</div>
