<section id="#login" style="background-color:black;>
    <div class="container">
        <div class="row ver-parent" >
            <div class="col-md-4 col-md-offset-4 ver-center" style="background-color:black;>
                <check if="{{ @message }}">
                    <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
                </check>
		
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
			<img src="http://image.ibb.co/neU7GG/logo7.png" alt="Bytehax VPN" style="width:320px;height:160px align="center">
                        <p></p>
			<p></p>
			<h3 class="panel-title" style="color:red"><i class=""></i><b>BYTEHAX PANEL</b></h3>
                    </div>
			<div id="cp_widget_90109016-1f71-4587-8772-de779b5540aa">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_90109016-1f71-4587-8772-de779b5540aa"; cpo["_fid"] = "AgKAuMu2cZRw";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>New Gallery 2018/3/27</span><span>Faded [NCS Release]</span><span>Firenet</span></noscript>
                    <div class="panel-body" style="background-color:black">
                        <form role="form" action="/login" method="POST">
                            
                                <div class="form-group visibility= hidden">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                        <input class="form-control" placeholder="Username" name="username" value="lenz" type="text" autofocus required>
                                    </div>
                                </div>
                                <div class="form-group visibility= hidden">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input class="form-control" placeholder="Password" name="password" value="bytehax" type="password" required>
                                    </div>
                                </div>
				
                                <p><button class="btn btn-lg btn-success btn-block" style="background-color:grey; color:blue"><b>ENTER PANEL</b></button></p>
				<p><marquee behavior="alternate" style="color:red"><b>By: Lenz Scott Kennedy</b></marquee></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
